.circle {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	text-align: center;
	font-size: 25px;
	line-height: 50px;
	color: white;
}

#rezultat {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.red {
	background-color: red;
}

.black {
	background-color: black;
	color: white;
}
