body {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f4f4f4;
}

#game-board {
	display: flex;
	flex-direction: column;
}

#row1,
#row2,
#row3 {
	display: flex;
}

.cell {
	width: 100px;
	height: 100px;
	background-color: white;
	border: 2px solid black;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 50px;
}
